h1{
    color: #fffafa;
    font-style: italic;
    text-align: center;
    text-decoration: overline;
}
#id1{
    color: #fffafa;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;

}
.class1{
    text-align: center;
    color: #fffafa;
    text-decoration: underline;
}
a:hover{
    font-size: 75px;
    color: snow;
}
Img{
    border: 25px solid white;
}
body{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

}
#id2{
    color: #fffafa;
    text-align: right;
    list-style-type: lower-greek;
    font-size: 2em;
}
#id3{
    color: #fffafa;
    text-align: right;
    list-style-type: square;
    font-size: 45px;
}