h1{
    border: 1px solid #ff0000;
    background-color: #6495ed;
    padding: 10px;
}
h2{
    Color: #b0c4de;
}
li{
    margin: 15px;
    background-color: #6495ed;
}
p{
    width: 600px;
    height: 400px;
    border: 2px dotted black;
}

