navbar{
    position: relative;
    left: 120px;
    bottom: 30px;
}
.invisible{
    visibility: hidden;
}
#logo{
    position: relative;
    right: 120px;

}
body{
    background: black;
    color: snow;
}