html{
    background-color: coral;
    padding: 10px;
}
body{
    background-color: yellow;
    padding: 10px;
    margin: 0;
    position: relative;
    top: 50px;
}
header{
    background-color: fuchsia;
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
}
nav{
    background-color: fuchsia;
    margin: 10px;
    position: relative;
    top: 100px;

}
footer{
    background-color: fuchsia;
    margin: 10px;
    position: static;
}