h1{
    text-align: center;
}
h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 45px;
}
img{
    display: block;
    margin: auto;
    padding-top: 30px;
}
li{
    padding-bottom: 30px;
    margin-left: 425px;
}
section{
    font-style: italic;
    font-size: large;
    text-align: center;
    font-weight: bold;
}
body{
    background-color: black;
    color: red;
}
#id1{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;

}
#id2{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
#id3{
    margin: auto;
}


